{% load static %}
<div class="row border-between posts-md col-mb-50 mb-0">
    <div class="col-md-6 col-lg-3">
        <h3>World</h3>

        <div class="row col-mb-30 mb-0">
            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Coronavirus Live Updates: Singapore Sees Record Number of New Cases</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">‘Will We Die Hungry?’ A Teeming Manila Slum Chafes Under Lockdown</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">In Argentina, a Bid to Make Language Gender Neutral Gains Traction</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <a href="demo-blog-categories.html" class="more-link">View more<i class="icon-line-arrow-right"></i></a>
    </div>

    <div class="col-md-6 col-lg-3">
        <h3>Travel</h3>

        <div class="row col-mb-30 mb-0">
            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">A Visual Trek Through the Sweltering Jungle: In Search of Colombia’s ‘Lost City’</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Believe In Your Travel Skills But Never Stop Improving</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">How I Improved My Travel In One Easy Lesson</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <a href="demo-blog-categories.html" class="more-link">View more<i class="icon-line-arrow-right"></i></a>
    </div>

    <div class="col-md-6 col-lg-3">
        <h3>Fashion</h3>

        <div class="row col-mb-30 mb-0">
            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Top 10 Tips To Grow Your Fashion</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">4 Ways You Can Grow Your Creativity Using Fashion</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Top 15 Best Fashion Android/iPhone Apps</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <a href="demo-blog-categories.html" class="more-link">View more<i class="icon-line-arrow-right"></i></a>
    </div>

    <div class="col-md-6 col-lg-3">
        <h3>Food</h3>

        <div class="row col-mb-30 mb-0">
            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Everything you need to know about supermarket delivery slots</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">How the diet industry uses and misuses knowledge of hunger and satiety</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="entry col-12">
                <div class="grid-inner">
                    <div class="entry-title title-sm">
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline">6 protein-rich chutneys that can replace vegetables</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2020</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <a href="demo-blog-categories.html" class="more-link">View more<i class="icon-line-arrow-right"></i></a>
    </div>
</div> 