{% load mptt_tags %}

<nav class="primary-menu with-arrows">
  <ul class="menu-container">
    {% recursetree categories %}
    <li class="menu-item sub-menu">
      <a class="menu-link" href="{{node.get_absolute_url}}" style="background-image:none !important;">
        <div>
          {{node.name}}
        </div></a
      >

      {% if not node.is_leaf_node %}

      <ul class="sub-menu-container" style="">
        {{children}}
      </ul>

      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>
</nav>
