<nav class="primary-menu with-arrows">

							<ul class="menu-container justify-content-between">
								<li class="menu-item current"><a class="menu-link" href={% url 'home' %}><div>Home</div></a></li>
								
                                {% comment %} <li class="menu-item">
                                    <a class="menu-link" href="#">
                                        <div>World</div>
                                    </a>

                                    <ul class="sub-menu-container" style="">
                                        <li class="menu-item" style="">
                                          <a class="menu-link" href="#"><div>NextGen Framework</div></a>
                                        </li>
                                        <li class="menu-item" style="">
                                          <a class="menu-link" href="#"><div>Stunning Graphics</div></a>
                                        </li>
                                        <li class="menu-item" style="">
                                          <a class="menu-link" href="#"><div>Secured Solutions</div></a>
                                        </li>
                                      </ul>
                                      <button class="sub-menu-trigger icon-chevron-right"></button>
                                </li> {% endcomment %}

                                {% for category in categories %}
								<li class="menu-item"><a class="menu-link" href={{category.get_absolute_url}}><div>{{category.name}}</div></a></li>
                                {% endfor %}


							</ul>

						</nav>