{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}
   
		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-center">

			<div class="container">
				<h1>{{category.name}}</h1>
				{% comment %} <span>Phosfluorescently target clicks-and-mortar growth strategies for timely infrastructures. Monotonectally embrace high-quality applications.</span> {% endcomment %}
			</div>

		</section>
        <!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap pt-0 pt-sm-6">
				<div class="container">

					<!-- Single Page Categories
					============================================= -->
					<div class="row gutter-50">
						<div class="col-lg-3 cat-widgets position-sticky h-100" style="top: 234px;">
							<div class="widget widget-search">
								<form class="input-group" action={% url 'search' %} method="GET">
									<input class="form-control" name="q" type="search" value="" placeholder="Search" aria-label="Search" autocomplete="off">
									<button class="btn btn-outline-secondary icon-line-search" type="submit"></button>
								</form>

								<form class="top-search-form" action={% url 'search' %} method="GET">
									<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
								</form>
							</div>

							<div class="widget widget-nav mt-md-5">
								<ul class="nav">
                                    <li class="nav-item active">
										<a class="nav-link" href="#">All Categories</a>
									</li>

									{% recursetree categories %}
									<li class="nav-item">
										<a class="nav-link" style="" href={{node.get_absolute_url}}>{{node.name}}</a>
										{% if not node.is_leaf_node %}
											<ul class="nav ml-2" style="">
												{{children}}
										  	</ul>
										{% endif %}
									</li>
									{% endrecursetree %}
								</ul>
							</div>
						</div>

						<div class="col-lg-9 mt-5 mt-lg-0">
							<div class="d-flex">
								<div class="flex-grow-1">
									<h3>All {{category.name}} Posts</h3>
								</div>
								<div>
									<!-- Example single danger button -->

										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{% if "popular" in request.GET %}
													Most Popular
												{% elif "most-comments" in request.GET %}
												Most Comments
												{% elif "latest" in request.GET %}
												Latest Posts
												{% else %}
												Most Popular
												{% endif %}
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="{{request.path}}?popular=1">Most Popular</a>
												<a class="dropdown-item" href="{{request.path}}?latest=1">Latest Posts</a>
												<a class="dropdown-item" href="{{request.path}}?most-comments=1">Most Comments</a>
											</div>
										</div>
								</div>
							</div>

							<div class="row col-mb-50 posts-md">

                                {% for article in articles %}
								<div class="col-md-4">
									<article class="entry">
										<div class="entry-image mb-3">
											<a href={{article.get_absolute_url}}><img src={{article.thumbnail.url}} alt="Image 3"></a>
										</div>
										<div class="entry-title title-sm">
											<div class="entry-categories d-flex">
                                                {% for category in article.categories.all %}
                                                <a href={{category.get_absolute_url}} class="mx-2">{{category.name}}</a>
                                                {% endfor %}
                                            </div>
											<h3><a href={{article.get_absolute_url}} class="color-underline stretched-link">{{article.title}}</a></h3>
										</div>
										<div class="entry-meta">
											<ul>
												<li>{{article.posted_at}}</li>
											</ul>
										</div>
										<div class="entry-content mt-3">
											{% comment %} <p>Today’s freebie is a set of 60 beautiful multimedia icons designed by Carlotta Govi.</p> {% endcomment %}
											<a href={{article.get_absolute_url}} class="more-link">Read the artcile</a>
										</div>
									</article>
								</div>
                                {% endfor %}
							</div>

						</div>
					</div>
					<!-- Single Page Categories End -->

				</div>
			</div>
		</section><!-- #content end -->
     

{% endblock content %}