<div class="col-lg-8">
  <h3 class="font-secondary fw-medium">Based On Your Reading History</h3>

  <div class="row col-mb-50">
    <article class="col-12">
      <div class="row">
        <div class="col-md-6 mb-0">
          <a href="#" class="entry-image">
            <img src="/static/demos/blog/images/lists/1.jpg" alt="Image" />
          </a>
        </div>
        <div class="col-md-6">
          <div class="entry-title mt-lg-0 mt-3">
            <div class="entry-categories">
              <a href="demo-blog-categories.html">Coronavirus Update - World</a>
            </div>
            <h3>
              <a
                href="demo-blog-single.html"
                class="color-underline stretched-link"
                >Apple and Google Team Up to ‘Contact Trace’ the Coronavirus</a
              >
            </h3>
          </div>
          <div class="entry-meta">
            <ul>
              <li><a href="#">Mar 11, 2016</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>
              The technology giants said they would embed a feature in iPhones
              and Android devices to enable users to track infected people
              they’d come close to.
            </p>
          </div>
        </div>
      </div>
    </article>

    <article class="col-12">
      <div class="row">
        <div class="col-md-6 mb-0">
          <a href="#" class="entry-image">
            <img src="/static/demos/blog/images/lists/2.jpg" alt="Image" />
          </a>
        </div>
        <div class="col-md-6">
          <div class="entry-title mt-lg-0 mt-3">
            <div class="entry-categories">
              <a href="demo-blog-categories.html">Food</a>
            </div>
            <h3>
              <a
                href="demo-blog-single.html"
                class="color-underline stretched-link"
                >Quick, Easy and So Satisfying</a
              >
            </h3>
          </div>
          <div class="entry-meta">
            <ul>
              <li><a href="#">Mar 11, 2016</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>
              Welcome to Five Weeknight Dishes. This newsletter is dedicated to
              recipes that are easy, quick and satisfying, words that all have a
              different meaning today than they did when we first started. I
              spent a few hours this week cleaning out my freezer and — compared
              with the other things on my to-do list.
            </p>
          </div>
        </div>
      </div>
    </article>

    <article class="col-12">
      <div class="row">
        <div class="col-md-6 mb-0">
          <a href="#" class="entry-image">
            <img src="/static/demos/blog/images/lists/3.jpg" alt="Image" />
          </a>
        </div>
        <div class="col-md-6">
          <div class="entry-title mt-lg-0 mt-3">
            <div class="entry-categories">
              <a href="demo-blog-categories.html">Tech</a>
            </div>
            <h3>
              <a
                href="demo-blog-single.html"
                class="color-underline stretched-link"
                >Optical Effects in User Interfaces: An Illustrated Guide</a
              >
            </h3>
          </div>
          <div class="entry-meta">
            <ul>
              <li><a href="#">Mar 11, 2016</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>
              Our eyes are weird and often mislead us. But if you know the
              peculiarities of human vision, you can construct better designs.
              Not only do type designers utilize optical tricks for creating
              readable and well-balanced fonts, but it’s also helpful for
              designers, who craft user-computer interaction.
            </p>
          </div>
        </div>
      </div>
    </article>

    <article class="col-12">
      <div class="row">
        <div class="col-md-6 mb-0">
          <a href="#" class="entry-image">
            <img src="/static/demos/blog/images/lists/4.jpg" alt="Image" />
          </a>
        </div>
        <div class="col-md-6">
          <div class="entry-title mt-lg-0 mt-3">
            <div class="entry-categories">
              <a href="demo-blog-categories.html">Health</a>
            </div>
            <h3>
              <a
                href="demo-blog-single.html"
                class="color-underline stretched-link"
                >How to Stock Your Medicine Cabinet Just in Case</a
              >
            </h3>
          </div>
          <div class="entry-meta">
            <ul>
              <li><a href="#">Mar 11, 2016</a></li>
            </ul>
          </div>
          <div class="entry-content">
            <p>
              Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem
              pariatur quibusdam veritatis quisquam laboriosam esse beatae hic
              perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Beatae, repudiandae.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
