<nav class="primary-menu">
  <ul class="menu-container">
    <li class="menu-item sub-menu">
      <a
        class="menu-link"
        href="index.html"
        style="padding-top: 39px; padding-bottom: 39px"
        ><div>Home<i class="icon-angle-down"></i></div
      ></a>
      <ul class="sub-menu-container" style="">
        <li class="menu-item" style="">
          <a class="menu-link" href="intro.html#section-niche"
            ><div>Niche Demos</div></a
          >
        </li>
        <li class="menu-item" style="">
          <a class="menu-link" href="intro.html#section-onepage"
            ><div>One-Page Demos</div></a
          >
        </li>
      </ul>
      <button class="sub-menu-trigger icon-chevron-right"></button>
    </li>
  </ul>
</nav>
